<div class="container">
    <div class="text">
        <div class="title">
            <img routerLink="/teacher-manager" style="cursor: pointer;" src="assets/img/Fill.svg" alt="Voltar">
            <p>Acesso como Coordenador</p>
        </div>
        <div class="sub-title">
            <p>Visualize um usuário e suas informações</p>
        </div>
    </div>

    <div class="group">
        <div class="group">
            <div class="user-key">
                <p class="text-user-key">CPF:</p>
                <p class="key">{{ teacher?.cpf || 'N/A' | cpfFormat }}</p>
            </div>
            <div class="user-name">
                <p class="text-user-name">Nome:</p>
                <p class="name">{{ teacher?.name || 'N/A' | capitalizeWords }}</p>
            </div>
            <div class="user-discipline">
                <p class="text-user-discipline">Disciplinas:</p>
                <p class="classSubjects">{{ getDisciplineString(teacher?.id || 0) | capitalizeWords }}</p>
            </div>
        </div>
    </div>
</div>
