<form>
    <div class="container">
      <div class="text">
        <div class="title">
          <img routerLink="/access-coordinator" style="cursor: pointer;" src="assets/img/Fill.svg" alt="Voltar">
          <p>Acesso como Coordenador</p>
        </div>
        <div class="sub-title">
          <p>Visualizar Histórico de Horários</p>
        </div>
      </div>
  
      <div class="group">
        <select class="form-select" aria-label="Default select example">
            <option selected>Selecione o Curso</option>
            <option value="1">Análise e Desenvolvimento de Sistemas</option>
            <option value="2">Processos Gerenciais</option>
            <option value="3">Eventos</option>
        </select>
      </div>
    </div>
  </form>
  