<div class="container">
    <div class="title">
        <img routerLink="/home" style="cursor: pointer;" src="assets/img/Fill.svg" alt="Voltar">
        <p>Selecione o tipo de acesso:</p>
    </div>
    <div class="access">
        <div class="BUTTON" routerLink="/login-coordinator">
            <p>Coordenador</p>
        </div>

        <div class="BUTTON" routerLink="#">
            <p>Professor</p>
        </div>

        <div class="BUTTON" routerLink="#">
            <p>Aluno</p>
        </div>
    </div>
</div>