<div class="container">
    <div class="row">
        <div class="col m-auto">
            <form [formGroup]="formGroupRoom">
                <div class="mb-3">
                    <div class="display-6 text-center p-3">Cadastro de Salas/Laboratórios</div>
                    <label for="name" class="form-label">Sala/Laboratório: </label>
                    <select formControlName="name" class="form-select" id="name">
                        <option value="" disabled selected>Selecione o tipo</option>
                        <option value="Sala">Sala</option>
                        <option value="Laboratório">Laboratório</option>
                    </select>
                    <div *ngIf="submitted && name.invalid">
                        <small class="text-danger">Tipo inválido!</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="identity" class="form-label">Identificação da sala/lab: </label>
                    <input type="text" formControlName="identity" class="form-control" id="identity"
                    placeholder="Indique o número ou letra da sala/lab">
                    <div *ngIf="submitted && identity.invalid">
                        <small class="text-danger">Identificação da sala/lab inválido!</small>
                    </div>
                </div>

                <div class="mb-3 d-flex justify-content-end">
                    <button class="btn btn-primary me-1" (click)="save()">Salvar</button>
                    <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>