<form>
  <div class="container">
    <div class="text">
      <div class="title">
        <img routerLink="/access-coordinator" style="cursor: pointer;" src="assets/img/Fill.svg" alt="Voltar">
        <p>Acesso como Coordenador</p>
      </div>
      <div class="sub-title">
        <p>Gerenciamento de Professores</p>
      </div>
    </div>

    <div class="BUTTON-New-User" (click)="toggleFormNewTeacher()">
      <p>Novo Professor</p>
    </div>

    <app-form-new-teacher [showFormNewTeacher]="showFormNewTeacher"
      (newTeacherAdded)="saveNewTeacher($event)"></app-form-new-teacher>

    <div class="group">
      <select id="teachers" name="teachers" [(ngModel)]="selectedTeacher" (change)="onSelectTeacher()">
        <option value="" disabled selected hidden>Selecione o Professor</option>
        <option *ngFor="let teacher of listOfTeachers" [value]="teacher.cpf">{{ teacher.name }}</option>
      </select>

      <div class="group-buttons">
        <div class="button-info" (click)="viewInformation()" *ngIf="isOptionSelected()">
          <p class="text-info">Visualizar Informações</p>
          <img class="icon-info" src="assets/img/info.svg" />
          <img class="icon-cicle-info" src="assets/img/Cicle.svg" />
        </div>

        <div class="button-plus" *ngIf="isOptionSelected()">
          <p class="text-plus">Associar á uma nova disciplina</p>
          <img class="icon-plus" src="assets/img/plus.svg" />
          <img class="icon-cicle" src="assets/img/Cicle.svg" />
        </div>
      </div>
    </div>
  </div>
</form>