

<form>
  <div class="container">
    <div class="text">
      <div class="title">
        <img routerLink="/access-coordinator" style="cursor: pointer;" src="assets/img/Fill.svg" alt="Voltar">
        <p>Acesso como Coordenador</p>
      </div>
      <div class="sub-title">
        <p>Gerenciamento de Professores</p>
      </div>
    </div>

    <div class="BUTTON-New-User" (click)="create()">
      <p>Novo Professor</p>
    </div>

    <div class="group" style="overflow: auto;">

      <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachers">
              <th scope="row">{{teacher.id}}</th>
              <td>{{teacher.name | capitalizeWords}}</td>
              <td>
                <button class="btn btn-primary me-1" (click)="edit(teacher)">Editar</button>
                <button class="btn btn-danger me-1" (click)="delete(teacher)">Excluir</button>
                <button class="btn btn-info me-1" (click)="viewInformation(teacher)">Visualizar Informações</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</form>
