<div class="container">
  <div class="row">
    <div class="col m-auto">
      <form [formGroup]="formGroupTeacher">
        <div class="mb-3">
          <div class="display-6 text-center p-3">Cadastro de Professores</div>
          <label for="cpf" class="form-label">CPF: </label>
          <input type="number" formControlName="cpf" class="form-control" id="cpf" (input)="limitCpfLength()"
            placeholder="Digite o CPF">
          <div *ngIf="submitted && cpf.invalid">
            <small class="text-danger">CPF inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nome:</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Digite o nome completo">
          <div *ngIf="submitted && name.invalid">
            <small class="text-danger">Nome inválido!</small>
          </div>
        </div>

        <div class="list-group mb-3">
          <label class="form-label mb-3">Marque as disciplinas que deseja associar ao professor: </label>
          <div *ngIf="classSubjects.length !== 0;">
            <label *ngFor="let classSubject of classSubjects" class="list-group-item">
              <input type="checkbox" [checked]="classSubjectArray.value.includes(classSubject.id)" (change)="toggleClassSubject(classSubject.id)">
              {{classSubject.name}}
            </label>
          </div>
        </div>

        <div class="mb-3 d-flex justify-content-end">
          <button class="btn btn-primary me-1" (click)="save()">Salvar</button>
          <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
