<div class="container">
  <div class="text">
      <div class="title">
          <p>Acesso como Coordenador</p>
      </div>
      <div class="sub-title">
          <p>Funcionalidades</p>
      </div>
  </div>

  <div class="to-enter">
      <div class="BUTTON">
          <p>Gerenciar todos os dados do sistema</p>
          <div class="overlap-group0"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>

      <div class="BUTTON" routerLink="/course-manager">
          <p>Gerenciamento de cursos</p>
          <div class="overlap-group1"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>

      <div class="BUTTON" routerLink="/teacher-manager">
          <p>Gerenciamento de professores</p>
          <div class="overlap-group2"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>

      <div class="BUTTON" routerLink="/discipline-manager">
          <p>Gerenciamento das disciplinas</p>
          <div class="overlap-group3"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>

      <div class="BUTTON">
          <p>Gerenciamento dos horários</p>
          <div class="overlap-group4"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>

      <div class="BUTTON">
          <p>Gerenciamento das turmas</p>
          <div class="overlap-group5"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>


      <div class="BUTTON" routerLink="/history-request">
          <p>Visualizar histórico de horários</p>
          <div class="overlap-group6"><img class="fill"
                  src="assets/img/Fill 1.svg" /></div>
      </div>
  </div>
</div>
