.container {
  width: 1170px;
  height: 508px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 142px;
  margin-bottom: 200px;
  border-radius: 10px;
  font-family: ABeeZee;
  box-shadow: 1px 2px 8px #0000004c;
  overflow: auto;
}

.text {
  margin-top: 30px;
  text-align: center;

}

.title {
  display: flex;
  align-items:baseline;
  gap: 10px;
  font-size: 24px;
  font-weight: 600;
}

.sub-title {
  margin-top: -10px;
  margin-bottom: 35px;
}

.BUTTON-New-Discipline{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 170px;
  height: 60px;
  margin-bottom: 40px;
  background-color: #C21E1E;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 2px 8px #0000004c;
}
.BUTTON-New-Discipline p{
  margin-top: 14px;
}
